<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>    
    <target name="errorfile"
            xsi:type="File"
            fileName="c:\temp\BSError\${date:format=yyyyMMdd}.log"
            archiveFileName="c:\temp\BSError\${date:format=yyyyMMdd}-{#}.log"
            archiveNumbering="Date"
            archiveEvery="Day"
            archiveDateFormat="yyyy-MM-dd"
            layout="${longdate}|${uppercase:${level}}|${gdc:item=clientIP}|${gdc:item=userID}|${callsite}|${message} ${exception}"/>

    <target name="debugfile"
            xsi:type="File"
            fileName="c:\temp\BSDebug\${date:format=yyyyMMdd}.log"
            archiveFileName="c:\temp\BSDebug\${date:format=yyyyMMdd}-{#}.log"
            archiveNumbering="Date"
            archiveEvery="Day"
            archiveDateFormat="yyyy-MM-dd"
            layout="${longdate}|${uppercase:${level}}|${gdc:item=clientIP}|${gdc:item=userID}|${callsite}|${message} ${exception}"/>
     <target name="tracefile"
            xsi:type="File"
            fileName="c:\temp\BSTrace\${date:format=yyyyMMdd}.log"
            archiveFileName="c:\temp\BSTrace\${date:format=yyyyMMdd}-{#}.log"
            archiveNumbering="Date"
            archiveEvery="Day"
            archiveDateFormat="yyyy-MM-dd"
            layout="${longdate}|${uppercase:${level}}|${gdc:item=clientIP}|${gdc:item=userID}|${callsite}|${message} ${exception}"/>
  </targets>
  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Error" writeTo="errorfile" />
    <logger name="*" levels="Debug,Info,Warn"  writeTo="debugfile" />
    <logger name="*" level="Trace" writeTo="tracefile" />
  </rules>
</nlog>
