/.vs/BlueStarGroup/v16/.suo
/.vs/BlueStarGroup/v16/Server/sqlite3/storage.ide-shm
/.vs/BlueStarGroup/v16/Server/sqlite3/storage.ide-wal
/BlueStarGroup/obj/Debug/BlueStarGroup.csprojAssemblyReference.cache
/BlueStarGroup/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/BlueStarGroup/obj/Debug/BlueStarGroup.csprojAssemblyReference.cache
/BlueStarGroup/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/.vs/BlueStarGroup/v16/.suo
/.gitignore
/BlueStarGroup/bin/Debug/BlueStarGroup2.exe
/BlueStarGroup/bin/Debug/BlueStarGroup2.exe.config
/BlueStarGroup/bin/Debug/BlueStarGroup2.pdb
/BlueStarGroup/bin/Debug/de/DevExpress.Data.v19.1.resources.dll
/BlueStarGroup/bin/Debug/de/DevExpress.Pdf.v19.1.Core.resources.dll
/BlueStarGroup/bin/Debug/de/DevExpress.Printing.v19.1.Core.resources.dll
/BlueStarGroup/bin/Debug/de/DevExpress.Sparkline.v19.1.Core.resources.dll
/BlueStarGroup/bin/Debug/de/DevExpress.Utils.v19.1.resources.dll
/BlueStarGroup/bin/Debug/de/DevExpress.XtraBars.v19.1.resources.dll
/BlueStarGroup/bin/Debug/de/DevExpress.XtraEditors.v19.1.resources.dll
/BlueStarGroup/bin/Debug/DevExpress.Data.v19.1.dll
/BlueStarGroup/bin/Debug/DevExpress.Data.v19.1.xml
/BlueStarGroup/bin/Debug/DevExpress.Pdf.v19.1.Core.dll
/BlueStarGroup/bin/Debug/DevExpress.Pdf.v19.1.Core.xml
/BlueStarGroup/bin/Debug/DevExpress.Printing.v19.1.Core.dll
/BlueStarGroup/bin/Debug/DevExpress.Printing.v19.1.Core.xml
/BlueStarGroup/bin/Debug/DevExpress.Sparkline.v19.1.Core.dll
/BlueStarGroup/bin/Debug/DevExpress.Sparkline.v19.1.Core.xml
/BlueStarGroup/bin/Debug/DevExpress.Utils.v19.1.dll
/BlueStarGroup/bin/Debug/DevExpress.Utils.v19.1.xml
/BlueStarGroup/bin/Debug/DevExpress.XtraBars.v19.1.dll
/BlueStarGroup/bin/Debug/DevExpress.XtraBars.v19.1.xml
/BlueStarGroup/bin/Debug/DevExpress.XtraEditors.v19.1.dll
/BlueStarGroup/bin/Debug/DevExpress.XtraEditors.v19.1.xml
/BlueStarGroup/bin/Debug/es/DevExpress.Data.v19.1.resources.dll
/BlueStarGroup/bin/Debug/es/DevExpress.Pdf.v19.1.Core.resources.dll
/BlueStarGroup/bin/Debug/es/DevExpress.Printing.v19.1.Core.resources.dll
/BlueStarGroup/bin/Debug/es/DevExpress.Sparkline.v19.1.Core.resources.dll
/BlueStarGroup/bin/Debug/es/DevExpress.Utils.v19.1.resources.dll
/BlueStarGroup/bin/Debug/es/DevExpress.XtraBars.v19.1.resources.dll
/BlueStarGroup/bin/Debug/es/DevExpress.XtraEditors.v19.1.resources.dll
/BlueStarGroup/bin/Debug/ja/DevExpress.Data.v19.1.resources.dll
/BlueStarGroup/bin/Debug/ja/DevExpress.Pdf.v19.1.Core.resources.dll
/BlueStarGroup/bin/Debug/ja/DevExpress.Printing.v19.1.Core.resources.dll
/BlueStarGroup/bin/Debug/ja/DevExpress.Sparkline.v19.1.Core.resources.dll
/BlueStarGroup/bin/Debug/ja/DevExpress.Utils.v19.1.resources.dll
/BlueStarGroup/bin/Debug/ja/DevExpress.XtraBars.v19.1.resources.dll
/BlueStarGroup/bin/Debug/ja/DevExpress.XtraEditors.v19.1.resources.dll
/BlueStarGroup/bin/Debug/ru/DevExpress.Data.v19.1.resources.dll
/BlueStarGroup/bin/Debug/ru/DevExpress.Pdf.v19.1.Core.resources.dll
/BlueStarGroup/bin/Debug/ru/DevExpress.Printing.v19.1.Core.resources.dll
/BlueStarGroup/bin/Debug/ru/DevExpress.Sparkline.v19.1.Core.resources.dll
/BlueStarGroup/bin/Debug/ru/DevExpress.Utils.v19.1.resources.dll
/BlueStarGroup/bin/Debug/ru/DevExpress.XtraEditors.v19.1.resources.dll
/.vs/BlueStarGroup/DesignTimeBuild/.dtbcache
/.vs/BlueStarGroup/v16/.suo
/.vs/BlueStarGroup/v16/Server/sqlite3/storage.ide
/.vs/BlueStarGroup/v16/Server/sqlite3/storage.ide
/BlueStarGroup/bin/Debug/BlueStarGroup2.exe
/BlueStarGroup/bin/Debug/BlueStarGroup2.exe.config
/BlueStarGroup/bin/Debug/BlueStarGroup2.pdb
/BlueStarGroup/bin/Debug/de/DevExpress.Data.v19.1.resources.dll
/BlueStarGroup/bin/Debug/de/DevExpress.Pdf.v19.1.Core.resources.dll
/BlueStarGroup/bin/Debug/de/DevExpress.Printing.v19.1.Core.resources.dll
/BlueStarGroup/bin/Debug/de/DevExpress.Sparkline.v19.1.Core.resources.dll
/BlueStarGroup/bin/Debug/de/DevExpress.Utils.v19.1.resources.dll
/BlueStarGroup/bin/Debug/de/DevExpress.XtraBars.v19.1.resources.dll
/BlueStarGroup/bin/Debug/de/DevExpress.XtraEditors.v19.1.resources.dll
/BlueStarGroup/bin/Debug/DevExpress.Data.v19.1.dll
/BlueStarGroup/bin/Debug/DevExpress.Data.v19.1.xml
/BlueStarGroup/bin/Debug/DevExpress.Pdf.v19.1.Core.dll
/BlueStarGroup/bin/Debug/DevExpress.Pdf.v19.1.Core.xml
/BlueStarGroup/bin/Debug/DevExpress.Printing.v19.1.Core.dll
/BlueStarGroup/bin/Debug/DevExpress.Printing.v19.1.Core.xml
/BlueStarGroup/bin/Debug/DevExpress.Sparkline.v19.1.Core.dll
/BlueStarGroup/bin/Debug/DevExpress.Sparkline.v19.1.Core.xml
/BlueStarGroup/bin/Debug/DevExpress.Utils.v19.1.dll
/BlueStarGroup/bin/Debug/DevExpress.Utils.v19.1.xml
/BlueStarGroup/bin/Debug/DevExpress.XtraBars.v19.1.dll
/BlueStarGroup/bin/Debug/DevExpress.XtraBars.v19.1.xml
/BlueStarGroup/bin/Debug/DevExpress.XtraEditors.v19.1.dll
/BlueStarGroup/bin/Debug/DevExpress.XtraEditors.v19.1.xml
/BlueStarGroup/bin/Debug/es/DevExpress.Data.v19.1.resources.dll
/BlueStarGroup/bin/Debug/es/DevExpress.Pdf.v19.1.Core.resources.dll
/BlueStarGroup/bin/Debug/es/DevExpress.Printing.v19.1.Core.resources.dll
/BlueStarGroup/bin/Debug/es/DevExpress.Sparkline.v19.1.Core.resources.dll
/BlueStarGroup/bin/Debug/es/DevExpress.Utils.v19.1.resources.dll
/BlueStarGroup/bin/Debug/es/DevExpress.XtraBars.v19.1.resources.dll
/BlueStarGroup/bin/Debug/es/DevExpress.XtraEditors.v19.1.resources.dll
/BlueStarGroup/bin/Debug/ja/DevExpress.Data.v19.1.resources.dll
/BlueStarGroup/bin/Debug/ja/DevExpress.Pdf.v19.1.Core.resources.dll
/BlueStarGroup/bin/Debug/ja/DevExpress.Printing.v19.1.Core.resources.dll
/BlueStarGroup/bin/Debug/ja/DevExpress.Sparkline.v19.1.Core.resources.dll
/BlueStarGroup/bin/Debug/ja/DevExpress.Utils.v19.1.resources.dll
/BlueStarGroup/bin/Debug/ja/DevExpress.XtraBars.v19.1.resources.dll
/BlueStarGroup/bin/Debug/ja/DevExpress.XtraEditors.v19.1.resources.dll
/BlueStarGroup/bin/Debug/ru/DevExpress.Data.v19.1.resources.dll
/BlueStarGroup/bin/Debug/ru/DevExpress.Pdf.v19.1.Core.resources.dll
/BlueStarGroup/bin/Debug/ru/DevExpress.Printing.v19.1.Core.resources.dll
/BlueStarGroup/bin/Debug/ru/DevExpress.Sparkline.v19.1.Core.resources.dll
/BlueStarGroup/bin/Debug/ru/DevExpress.Utils.v19.1.resources.dll
/BlueStarGroup/bin/Debug/ru/DevExpress.XtraEditors.v19.1.resources.dll
/BlueStarGroup/bin/Debug/BlueStarGroup2.exe
/BlueStarGroup/bin/Debug/BlueStarGroup2.exe.config
/BlueStarGroup/bin/Debug/BlueStarGroup2.pdb
/BlueStarGroup/bin/Debug/de/DevExpress.Data.v19.1.resources.dll
/BlueStarGroup/bin/Debug/de/DevExpress.Pdf.v19.1.Core.resources.dll
/BlueStarGroup/bin/Debug/de/DevExpress.Printing.v19.1.Core.resources.dll
/BlueStarGroup/bin/Debug/de/DevExpress.Sparkline.v19.1.Core.resources.dll
/BlueStarGroup/bin/Debug/de/DevExpress.Utils.v19.1.resources.dll
/BlueStarGroup/bin/Debug/de/DevExpress.XtraBars.v19.1.resources.dll
/BlueStarGroup/bin/Debug/de/DevExpress.XtraEditors.v19.1.resources.dll
/BlueStarGroup/bin/Debug/DevExpress.Data.v19.1.dll
/BlueStarGroup/bin/Debug/DevExpress.Data.v19.1.xml
/BlueStarGroup/bin/Debug/DevExpress.Pdf.v19.1.Core.dll
/BlueStarGroup/bin/Debug/DevExpress.Pdf.v19.1.Core.xml
/BlueStarGroup/bin/Debug/DevExpress.Printing.v19.1.Core.dll
/BlueStarGroup/bin/Debug/DevExpress.Printing.v19.1.Core.xml
/BlueStarGroup/bin/Debug/DevExpress.Sparkline.v19.1.Core.dll
/BlueStarGroup/bin/Debug/DevExpress.Sparkline.v19.1.Core.xml
/BlueStarGroup/bin/Debug/DevExpress.Utils.v19.1.dll
/BlueStarGroup/bin/Debug/DevExpress.Utils.v19.1.xml
/BlueStarGroup/bin/Debug/DevExpress.XtraBars.v19.1.dll
/BlueStarGroup/bin/Debug/DevExpress.XtraBars.v19.1.xml
/BlueStarGroup/bin/Debug/DevExpress.XtraEditors.v19.1.dll
/BlueStarGroup/bin/Debug/DevExpress.XtraEditors.v19.1.xml
/BlueStarGroup/bin/Debug/es/DevExpress.Data.v19.1.resources.dll
/BlueStarGroup/bin/Debug/es/DevExpress.Pdf.v19.1.Core.resources.dll
/BlueStarGroup/bin/Debug/es/DevExpress.Printing.v19.1.Core.resources.dll
/BlueStarGroup/bin/Debug/es/DevExpress.Sparkline.v19.1.Core.resources.dll
/BlueStarGroup/bin/Debug/es/DevExpress.Utils.v19.1.resources.dll
/BlueStarGroup/bin/Debug/es/DevExpress.XtraBars.v19.1.resources.dll
/BlueStarGroup/bin/Debug/es/DevExpress.XtraEditors.v19.1.resources.dll
/BlueStarGroup/bin/Debug/ja/DevExpress.Data.v19.1.resources.dll
/BlueStarGroup/bin/Debug/ja/DevExpress.Pdf.v19.1.Core.resources.dll
/BlueStarGroup/bin/Debug/ja/DevExpress.Printing.v19.1.Core.resources.dll
/BlueStarGroup/bin/Debug/ja/DevExpress.Sparkline.v19.1.Core.resources.dll
/BlueStarGroup/bin/Debug/ja/DevExpress.Utils.v19.1.resources.dll
/BlueStarGroup/bin/Debug/ja/DevExpress.XtraBars.v19.1.resources.dll
/BlueStarGroup/bin/Debug/ja/DevExpress.XtraEditors.v19.1.resources.dll
/BlueStarGroup/bin/Debug/ru/DevExpress.Data.v19.1.resources.dll
/BlueStarGroup/bin/Debug/ru/DevExpress.Pdf.v19.1.Core.resources.dll
/BlueStarGroup/bin/Debug/ru/DevExpress.Printing.v19.1.Core.resources.dll
/BlueStarGroup/bin/Debug/ru/DevExpress.Sparkline.v19.1.Core.resources.dll
/BlueStarGroup/bin/Debug/ru/DevExpress.Utils.v19.1.resources.dll
/BlueStarGroup/bin/Debug/ru/DevExpress.XtraEditors.v19.1.resources.dll
/BlueStarGroup/bin/Debug/BlueStarGroup2.exe
/BlueStarGroup/bin/Debug/BlueStarGroup2.exe.config
/BlueStarGroup/bin/Debug/BlueStarGroup2.pdb
/BlueStarGroup/bin/Debug/de/DevExpress.Data.v19.1.resources.dll
/BlueStarGroup/bin/Debug/de/DevExpress.Pdf.v19.1.Core.resources.dll
/BlueStarGroup/bin/Debug/de/DevExpress.Printing.v19.1.Core.resources.dll
/BlueStarGroup/bin/Debug/de/DevExpress.Utils.v19.1.resources.dll
/BlueStarGroup/bin/Debug/de/DevExpress.XtraBars.v19.1.resources.dll
/BlueStarGroup/bin/Debug/de/DevExpress.XtraEditors.v19.1.resources.dll
/BlueStarGroup/bin/Debug/DevExpress.Data.v19.1.dll
/BlueStarGroup/bin/Debug/DevExpress.Data.v19.1.xml
/BlueStarGroup/bin/Debug/DevExpress.Pdf.v19.1.Core.dll
/BlueStarGroup/bin/Debug/DevExpress.Pdf.v19.1.Core.xml
/BlueStarGroup/bin/Debug/DevExpress.Printing.v19.1.Core.dll
/BlueStarGroup/bin/Debug/DevExpress.Printing.v19.1.Core.xml
/BlueStarGroup/bin/Debug/DevExpress.Sparkline.v19.1.Core.dll
/BlueStarGroup/bin/Debug/DevExpress.Sparkline.v19.1.Core.xml
/BlueStarGroup/bin/Debug/DevExpress.Utils.v19.1.dll
/BlueStarGroup/bin/Debug/DevExpress.Utils.v19.1.xml
/BlueStarGroup/bin/Debug/DevExpress.XtraBars.v19.1.dll
/BlueStarGroup/bin/Debug/DevExpress.XtraBars.v19.1.xml
/BlueStarGroup/bin/Debug/DevExpress.XtraEditors.v19.1.dll
/BlueStarGroup/bin/Debug/DevExpress.XtraEditors.v19.1.xml
/BlueStarGroup/bin/Debug/es/DevExpress.Data.v19.1.resources.dll
/BlueStarGroup/bin/Debug/es/DevExpress.Pdf.v19.1.Core.resources.dll
/BlueStarGroup/bin/Debug/es/DevExpress.Printing.v19.1.Core.resources.dll
/BlueStarGroup/bin/Debug/es/DevExpress.Sparkline.v19.1.Core.resources.dll
/BlueStarGroup/bin/Debug/es/DevExpress.Utils.v19.1.resources.dll
/BlueStarGroup/bin/Debug/es/DevExpress.XtraBars.v19.1.resources.dll
/BlueStarGroup/bin/Debug/es/DevExpress.XtraEditors.v19.1.resources.dll
/BlueStarGroup/bin/Debug/ja/DevExpress.Data.v19.1.resources.dll
/BlueStarGroup/bin/Debug/ja/DevExpress.Pdf.v19.1.Core.resources.dll
/BlueStarGroup/bin/Debug/ja/DevExpress.Printing.v19.1.Core.resources.dll
/BlueStarGroup/bin/Debug/ja/DevExpress.Sparkline.v19.1.Core.resources.dll
/BlueStarGroup/bin/Debug/ja/DevExpress.Utils.v19.1.resources.dll
/BlueStarGroup/bin/Debug/ja/DevExpress.XtraBars.v19.1.resources.dll
/BlueStarGroup/bin/Debug/ja/DevExpress.XtraEditors.v19.1.resources.dll
/BlueStarGroup/bin/Debug/ru/DevExpress.Data.v19.1.resources.dll
/BlueStarGroup/bin/Debug/ru/DevExpress.Pdf.v19.1.Core.resources.dll
/BlueStarGroup/bin/Debug/ru/DevExpress.Printing.v19.1.Core.resources.dll
/BlueStarGroup/bin/Debug/ru/DevExpress.Sparkline.v19.1.Core.resources.dll
/BlueStarGroup/bin/Debug/ru/DevExpress.Utils.v19.1.resources.dll
/BlueStarGroup/bin/Debug/ru/DevExpress.XtraEditors.v19.1.resources.dll
/BlueStarGroup/bin/Debug/BlueStarGroup2.exe
/BlueStarGroup/bin/Debug
/BlueStarGroup/bin/Debug
*.dll

#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/BlueStarGroup/bin/Debug/BlueStarGroup2.pdb
