DROP PROC IF EXISTS ItemPriceCompanySelect;
GO
CREATE PROCEDURE ItemPriceCompanySelect 
AS
	SELECT 
		D.ItemID
		,D.CompanyID
		,D.ItemPrice
		,L.ItemName
		,L2.CompanyName
	FROM Items L
		INNER JOIN ItemPriceCompany D
			ON L.ItemID = D.ItemID
		INNER JOIN Company L2
			ON L2.CompanyID = D.CompanyID
	WHERE 
		L.IsDelete IS NULL
	ORDER BY
		L2.CompanyName
		,L.ItemName