USE [BlueStarGroup]
GO
DROP TABLE IF EXISTS Accounts
GO
CREATE TABLE Accounts(
	[AccountID] [varchar](30) NOT NULL,
	[AccountName] [nvarchar](250) NOT NULL,
	[AccountGroupID] [varchar](30) NOT NULL,
	[AccountLevel] [tinyint] NOT NULL,
	[ParentID] [varchar](30) NULL,
	[HachToan] [bit] NOT NULL,
	[DuNo] [bit] NOT NULL,
	[DuCo] [bit] NOT NULL,
	[ThongKe] [bit] NOT NULL,
	[NgoaiTe] [bit] NOT NULL,
	[TK152_156] [bit] NOT NULL,
	[VatTu] [bit] NOT NULL,
	[ThueVAT] [bit] NOT NULL,
	[HopDong] [bit] NOT NULL,
	[CongNo] [bit] NOT NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[CreateUser] [varchar](20) NULL,
	[UpdateUser] [varchar](20) NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY([AccountID] ASC)
)
GO
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [DF_Accounts_AccountLevel]  DEFAULT ((1)) FOR [AccountLevel]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((0)) FOR [HachToan]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((0)) FOR [DuNo]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((0)) FOR [DuCo]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((0)) FOR [ThongKe]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((0)) FOR [NgoaiTe]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((0)) FOR [TK152_156]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((0)) FOR [VatTu]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((0)) FOR [ThueVAT]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((0)) FOR [HopDong]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((0)) FOR [CongNo]
GO
INSERT Accounts ([AccountID], [AccountName], [AccountGroupID], [AccountLevel], [ParentID], [CreateDate], [UpdateDate], [CreateUser], [UpdateUser], [HachToan], [DuNo], [DuCo], [ThongKe], [NgoaiTe], [TK152_156], [VatTu], [ThueVAT], [HopDong], [CongNo]) VALUES (N' 352', N' Dự phòng phải trả', N'LTK000002', 1, N'', CAST(N'2020-11-25T00:00:00.000' AS DateTime), CAST(N'2020-11-25T00:00:00.000' AS DateTime), N'admin', N'admin', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
INSERT Accounts ([AccountID], [AccountName], [AccountGroupID], [AccountLevel], [ParentID], [CreateDate], [UpdateDate], [CreateUser], [UpdateUser], [HachToan], [DuNo], [DuCo], [ThongKe], [NgoaiTe], [TK152_156], [VatTu], [ThueVAT], [HopDong], [CongNo]) VALUES (N' 811', N'Chi phí khác', N'LTK000007', 1, N'', CAST(N'2020-11-25T00:00:00.000' AS DateTime), CAST(N'2020-11-25T00:00:00.000' AS DateTime), N'admin', N'admin', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
INSERT Accounts ([AccountID], [AccountName], [AccountGroupID], [AccountLevel], [ParentID], [CreateDate], [UpdateDate], [CreateUser], [UpdateUser], [HachToan], [DuNo], [DuCo], [ThongKe], [NgoaiTe], [TK152_156], [VatTu], [ThueVAT], [HopDong], [CongNo]) VALUES (N'111', N'Tiền mặt', N'LTK000001', 1, N'', CAST(N'2020-11-25T00:00:00.000' AS DateTime), CAST(N'2020-11-25T00:00:00.000' AS DateTime), N'admin', N'admin', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
INSERT [dbo].[Accounts] ([AccountID], [AccountName], [AccountGroupID], [AccountLevel], [ParentID], [CreateDate], [UpdateDate], [CreateUser], [UpdateUser], [HachToan], [DuNo], [DuCo], [ThongKe], [NgoaiTe], [TK152_156], [VatTu], [ThueVAT], [HopDong], [CongNo]) VALUES (N'336', N'Phải trả nội bộ', N'LTK000002', 1, N'', CAST(N'2020-11-25T00:00:00.000' AS DateTime), CAST(N'2020-11-25T00:00:00.000' AS DateTime), N'admin', N'admin', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
INSERT [dbo].[Accounts] ([AccountID], [AccountName], [AccountGroupID], [AccountLevel], [ParentID], [CreateDate], [UpdateDate], [CreateUser], [UpdateUser], [HachToan], [DuNo], [DuCo], [ThongKe], [NgoaiTe], [TK152_156], [VatTu], [ThueVAT], [HopDong], [CongNo]) VALUES (N'3361', N'Phải trả nội bộ về vốn kinh doanh', N'LTK000002', 2, N'336', CAST(N'2020-11-25T00:00:00.000' AS DateTime), CAST(N'2020-11-25T00:00:00.000' AS DateTime), N'admin', N'admin', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
INSERT [dbo].[Accounts] ([AccountID], [AccountName], [AccountGroupID], [AccountLevel], [ParentID], [CreateDate], [UpdateDate], [CreateUser], [UpdateUser], [HachToan], [DuNo], [DuCo], [ThongKe], [NgoaiTe], [TK152_156], [VatTu], [ThueVAT], [HopDong], [CongNo]) VALUES (N'3362', N'Phải trả nội bộ về chênh lệch tỷ giá', N'LTK000002', 2, N'336', CAST(N'2020-11-25T00:00:00.000' AS DateTime), CAST(N'2020-11-25T00:00:00.000' AS DateTime), N'admin', N'admin', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
