DROP TABLE IF EXISTS [Balance]
CREATE TABLE [dbo].[Balance](
	[BalanceID] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[AccountID] [varchar](50) NULL,
	[AccountDetailID] [varchar](50) NULL,
	[CustomerID] [varchar](50) NULL,
	[CompanyID] [varchar](50) NULL,
	[BalanceDate] [datetime] NULL,
	[DebitAmount] [money] NULL,
	[CreditAmount] [money] NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[CreateUser] [varchar](50) NULL,
	[UpdateUser] [varchar](50) NULL,
 CONSTRAINT [PK_Balance] PRIMARY KEY CLUSTERED 
(
	[BalanceID] ASC))
GO
INSERT [dbo].[Balance] ([BalanceID], [AccountID], [AccountDetailID], [CustomerID], [CompanyID], [BalanceDate], [DebitAmount], [CreditAmount], [CreateDate], [UpdateDate], [CreateUser], [UpdateUser]) VALUES (N'3f86d514-f60e-4568-9722-00eefbb1dc1e', N'6427', N'02', NULL, N'CTY0000000060', CAST(N'2020-01-01T00:00:00.000' AS DateTime), 10000.0000, 0.0000, CAST(N'2020-12-14T15:17:39.033' AS DateTime), CAST(N'2020-12-14T15:17:39.033' AS DateTime), N'admin', N'admin')
INSERT [dbo].[Balance] ([BalanceID], [AccountID], [AccountDetailID], [CustomerID], [CompanyID], [BalanceDate], [DebitAmount], [CreditAmount], [CreateDate], [UpdateDate], [CreateUser], [UpdateUser]) VALUES (N'5fad6d4a-092d-43e7-ae96-0173836e9332', N'3411', N'01', NULL, N'CTY0000000060', CAST(N'2020-01-01T00:00:00.000' AS DateTime), 0.0000, 90213861600.0000, CAST(N'2020-12-14T15:17:39.033' AS DateTime), CAST(N'2020-12-14T15:17:39.033' AS DateTime), N'admin', N'admin')
INSERT [dbo].[Balance] ([BalanceID], [AccountID], [AccountDetailID], [CustomerID], [CompanyID], [BalanceDate], [DebitAmount], [CreditAmount], [CreateDate], [UpdateDate], [CreateUser], [UpdateUser]) VALUES (N'fa2074e5-3147-4ab1-a83a-02107c13fd00', N'3334', N'', NULL, N'CTY0000000060', CAST(N'2020-01-01T00:00:00.000' AS DateTime), 194883287.0000, 0.0000, CAST(N'2020-12-14T15:17:39.033' AS DateTime), CAST(N'2020-12-14T15:17:39.033' AS DateTime), N'admin', N'admin')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UC_Balance]    Script Date: 12/14/2020 6:36:50 PM ******/
ALTER TABLE [dbo].[Balance] ADD  CONSTRAINT [UC_Balance] UNIQUE NONCLUSTERED 
(
	[AccountID] ASC,
	[AccountDetailID] ASC,
	[CompanyID] ASC,
	[BalanceDate] ASC
)
ALTER TABLE [dbo].[Balance] ADD  CONSTRAINT [DF_Balance_BalanceID]  DEFAULT (newid()) FOR [BalanceID]
GO
