USE [BlueStarGroup]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 12/27/2020 11:49:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[RowID] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[InvoiceID] [varchar](50) NOT NULL,
	[VouchersID] [varchar](50) NULL,
	[CustomerID] [varchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[InvoiceFormNo] [varchar](50) NULL,
	[FormNo] [varchar](50) NULL,
	[SerialNo] [varchar](50) NULL,
	[InvoiceNo] [varchar](50) NULL,
	[InvoiceType] [varchar](1) NULL,
	[InvoiceDate] [datetime] NULL,
	[Amount] [money] NULL,
	[VAT] [decimal](18, 0) NULL,
	[Discounts] [money] NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[CreateUser] [varchar](50) NULL,
	[UpdateUser] [varchar](50) NULL,
	[IsDelete] [bit] NULL,
	[CompanyID] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Invoice] ADD  DEFAULT (newid()) FOR [RowID]
GO
ALTER TABLE [dbo].[Invoice] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
