USE [BlueStarGroup]
GO
/****** Object:  Table [dbo].[WareHouseDetail]    Script Date: 12/19/2020 6:08:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WareHouseDetail](
	[RowID] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[WareHouseDetailID] [varchar](50) NULL,
	[WarehouseID] [varchar](50) NULL,
	[ItemID] [varchar](50) NULL,
	[Quantity] [numeric](18, 2) NULL,
	[Price] [money] NULL,
	[Amount] [money] NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[CreateUser] [varchar](50) NULL,
	[UpdateUser] [varchar](50) NULL,
	[Isdelete] [bit] NULL,
	[CompanyID] [varchar](50) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WareHouseDetail] ADD  DEFAULT (newid()) FOR [RowID]
GO
ALTER TABLE [dbo].[WareHouseDetail] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
