USE [BlueStarGroup]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 12/27/2020 11:49:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountID] [varchar](30) NOT NULL,
	[AccountName] [nvarchar](250) NOT NULL,
	[AccountGroupID] [varchar](30) NOT NULL,
	[AccountLevel] [tinyint] NOT NULL,
	[ParentID] [varchar](30) NULL,
	[HachToan] [bit] NOT NULL,
	[DuNo] [bit] NOT NULL,
	[DuCo] [bit] NOT NULL,
	[ThongKe] [bit] NOT NULL,
	[NgoaiTe] [bit] NOT NULL,
	[TK152_156] [bit] NOT NULL,
	[VatTu] [bit] NOT NULL,
	[ThueVAT] [bit] NOT NULL,
	[HopDong] [bit] NOT NULL,
	[CongNo] [bit] NOT NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[CreateUser] [varchar](20) NULL,
	[UpdateUser] [varchar](20) NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Accounts] ([AccountID], [AccountName], [AccountGroupID], [AccountLevel], [ParentID], [HachToan], [DuNo], [DuCo], [ThongKe], [NgoaiTe], [TK152_156], [VatTu], [ThueVAT], [HopDong], [CongNo], [CreateDate], [UpdateDate], [CreateUser], [UpdateUser]) VALUES (N'111', N'Tiền mặt', N'LTK000001', 1, N'', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, CAST(N'2020-11-25T00:00:00.000' AS DateTime), CAST(N'2020-12-12T16:21:48.757' AS DateTime), N'admin', N'admin')
INSERT [dbo].[Accounts] ([AccountID], [AccountName], [AccountGroupID], [AccountLevel], [ParentID], [HachToan], [DuNo], [DuCo], [ThongKe], [NgoaiTe], [TK152_156], [VatTu], [ThueVAT], [HopDong], [CongNo], [CreateDate], [UpdateDate], [CreateUser], [UpdateUser]) VALUES (N'1111', N'Tiền Việt Nam', N'LTK000001', 2, N'111', 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, CAST(N'2020-11-25T00:00:00.000' AS DateTime), CAST(N'2020-12-12T16:21:48.760' AS DateTime), N'admin', N'admin')
INSERT [dbo].[Accounts] ([AccountID], [AccountName], [AccountGroupID], [AccountLevel], [ParentID], [HachToan], [DuNo], [DuCo], [ThongKe], [NgoaiTe], [TK152_156], [VatTu], [ThueVAT], [HopDong], [CongNo], [CreateDate], [UpdateDate], [CreateUser], [UpdateUser]) VALUES (N'1112', N'Ngoại tệ', N'LTK000001', 2, N'111', 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, CAST(N'2020-11-25T00:00:00.000' AS DateTime), CAST(N'2020-12-12T09:34:10.030' AS DateTime), N'admin', N'admin')
GO
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [DF_Accounts_AccountLevel]  DEFAULT ((1)) FOR [AccountLevel]
GO
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [DF__Accounts__HachTo__7BD05397]  DEFAULT ((0)) FOR [HachToan]
GO
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [DF__Accounts__DuNo__7CC477D0]  DEFAULT ((0)) FOR [DuNo]
GO
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [DF__Accounts__DuCo__7DB89C09]  DEFAULT ((0)) FOR [DuCo]
GO
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [DF__Accounts__ThongK__7EACC042]  DEFAULT ((0)) FOR [ThongKe]
GO
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [DF__Accounts__NgoaiT__7FA0E47B]  DEFAULT ((0)) FOR [NgoaiTe]
GO
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [DF__Accounts__TK152___009508B4]  DEFAULT ((0)) FOR [TK152_156]
GO
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [DF__Accounts__VatTu__01892CED]  DEFAULT ((0)) FOR [VatTu]
GO
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [DF__Accounts__ThueVA__027D5126]  DEFAULT ((0)) FOR [ThueVAT]
GO
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [DF__Accounts__HopDon__0371755F]  DEFAULT ((0)) FOR [HopDong]
GO
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [DF__Accounts__CongNo__04659998]  DEFAULT ((0)) FOR [CongNo]
GO
