USE [BlueStarGroup]
GO
/****** Object:  Table [dbo].[WareHouse]    Script Date: 12/19/2020 6:08:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WareHouse](
	[RowID] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[WarehouseID] [varchar](50) NOT NULL,
	[VouchersID] [varchar](50) NULL,
	[InvoiceID] [varchar](50) NULL,
	[CustomerID] [varchar](50) NULL,
	[GeneralLedgerID] [varchar](50) NULL,
	[Date] [datetime] NULL,
	[DebitAccountID] [varchar](50) NULL,
	[CreditAccountID] [varchar](50) NULL,
	[Type] [varchar](1) NULL,
	[DeliverReceiver] [nvarchar](250) NULL,
	[Description] [nvarchar](max) NULL,
	[Attachfile] [nvarchar](max) NULL,
	[Discount] [money] NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[CreateUser] [varchar](50) NULL,
	[UpdateUser] [varchar](50) NULL,
	[IsDelete] [bit] NULL,
	[CompanyID] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[WareHouse] ADD  DEFAULT (newid()) FOR [RowID]
GO
ALTER TABLE [dbo].[WareHouse] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
