USE [BlueStarGroup]
GO
/****** Object:  Table [dbo].[AccountDetail]    Script Date: 12/19/2020 6:08:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountDetail](
	[CompanyID] [varchar](50) NOT NULL,
	[AccountID] [varchar](50) NOT NULL,
	[AccountDetailID] [varchar](50) NOT NULL,
	[AccountDetailName] [nvarchar](250) NOT NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[CreateUser] [varchar](20) NULL,
	[UpdateUser] [varchar](20) NULL,
 CONSTRAINT [PK_GeneralLedger] PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC,
	[AccountID] ASC,
	[AccountDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AccountDetail] ([CompanyID], [AccountID], [AccountDetailID], [AccountDetailName], [CreateDate], [UpdateDate], [CreateUser], [UpdateUser]) VALUES (N'CTY0000000060', N'1121', N'01', N'Tiền Việt Nam', CAST(N'2020-12-13T11:19:26.267' AS DateTime), CAST(N'2020-12-13T11:19:26.267' AS DateTime), N'admin', N'admin')
INSERT [dbo].[AccountDetail] ([CompanyID], [AccountID], [AccountDetailID], [AccountDetailName], [CreateDate], [UpdateDate], [CreateUser], [UpdateUser]) VALUES (N'CTY0000000060', N'1121', N'02', N'Tiền Việt Nam', CAST(N'2020-12-13T11:19:26.267' AS DateTime), CAST(N'2020-12-13T11:19:26.267' AS DateTime), N'admin', N'admin')
INSERT [dbo].[AccountDetail] ([CompanyID], [AccountID], [AccountDetailID], [AccountDetailName], [CreateDate], [UpdateDate], [CreateUser], [UpdateUser]) VALUES (N'CTY0000000060', N'1121', N'03', N'Tiền Việt Nam', CAST(N'2020-12-13T11:19:26.267' AS DateTime), CAST(N'2020-12-13T11:19:26.267' AS DateTime), N'admin', N'admin')
