USE [BlueStarGroup]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 12/27/2020 11:49:01 AM ******/
DROP TABLE IF EXISTS [Items]
GO
CREATE TABLE [dbo].[Items](
	[ItemID] [varchar](50) NOT NULL,
	[ItemName] [nvarchar](250) NOT NULL,
	[ItemSName] [varchar](20) NULL,
	[ItemTypeID] [varchar](50) NULL,
	[ItemUnit] [varchar](3) NULL,
	[ItemSpecification] [nvarchar](250) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[CreateUser] [varchar](20) NULL,
	[UpdateUser] [varchar](20) NULL,
	[IsDelete] [bit] NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Items] ([ItemID], [ItemName], [ItemSName], [ItemTypeID], [ItemUnit], [ItemSpecification], [CreateDate], [UpdateDate], [CreateUser], [UpdateUser], [IsDelete]) VALUES (N'SP0000000001', N'Sắt 1 - Kẽm 1li', N'S1', N'LSP0000000005', N'KG', N'Sắt 1 / Sắt 1', CAST(N'2020-11-25T00:00:00.000' AS DateTime), NULL, N'11/25/2020', N'admin', NULL)
INSERT [dbo].[Items] ([ItemID], [ItemName], [ItemSName], [ItemTypeID], [ItemUnit], [ItemSpecification], [CreateDate], [UpdateDate], [CreateUser], [UpdateUser], [IsDelete]) VALUES (N'SP0000000002', N'Sắt 4', N'S4', N'LSP0000000005', N'KG', N'Sắt 4 / Sắt 4', CAST(N'2020-11-25T00:00:00.000' AS DateTime), NULL, N'11/25/2020', N'admin', NULL)
INSERT [dbo].[Items] ([ItemID], [ItemName], [ItemSName], [ItemTypeID], [ItemUnit], [ItemSpecification], [CreateDate], [UpdateDate], [CreateUser], [UpdateUser], [IsDelete]) VALUES (N'SP0000000003', N'Sắt 6', N'S6', N'LSP0000000005', N'KG', N'Sắt 6 / Sắt 6', CAST(N'2020-11-25T00:00:00.000' AS DateTime), NULL, N'11/25/2020', N'admin', NULL)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Quy cách' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Items', @level2type=N'COLUMN',@level2name=N'ItemSpecification'
GO
