USE [BlueStarGroup]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 12/27/2020 11:49:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [varchar](20) NOT NULL,
	[CustomerName] [nvarchar](250) NOT NULL,
	[CustomerSName] [varchar](50) NULL,
	[CustomerTIN] [varchar](20) NULL,
	[CustomerAddress] [nvarchar](250) NULL,
	[CustomerPhone] [varchar](10) NULL,
	[ParentID] [varchar](20) NULL,
	[InvoiceFormNo] [varchar](20) NULL,
	[FormNo] [varchar](20) NULL,
	[SerialNo] [varchar](20) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[CreateUser] [varchar](20) NULL,
	[UpdateUser] [varchar](20) NULL,
	[OldCustomerID] [varchar](50) NULL,
 CONSTRAINT [PK__Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Customer] ([CustomerID], [CustomerName], [CustomerSName], [CustomerTIN], [CustomerAddress], [CustomerPhone], [ParentID], [InvoiceFormNo], [FormNo], [SerialNo], [CreateDate], [UpdateDate], [CreateUser], [UpdateUser], [OldCustomerID]) VALUES (N'KH0000000001', N'Công ty TNHH TM XNK Hồng Cường 103B', N'103B', N'303153206', NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2020-12-19T00:00:00.000' AS DateTime), CAST(N'2020-12-19T00:00:00.000' AS DateTime), N'admin', N'admin', N'103B')
INSERT [dbo].[Customer] ([CustomerID], [CustomerName], [CustomerSName], [CustomerTIN], [CustomerAddress], [CustomerPhone], [ParentID], [InvoiceFormNo], [FormNo], [SerialNo], [CreateDate], [UpdateDate], [CreateUser], [UpdateUser], [OldCustomerID]) VALUES (N'KH0000000002', N'Vlxd 10 đởm', N'GT10DOM', NULL, N'Giồng Trôm , Bến Tre', NULL, NULL, NULL, NULL, NULL, CAST(N'2020-12-19T00:00:00.000' AS DateTime), CAST(N'2020-12-19T00:00:00.000' AS DateTime), N'admin', N'admin', N'10DOM')
INSERT [dbo].[Customer] ([CustomerID], [CustomerName], [CustomerSName], [CustomerTIN], [CustomerAddress], [CustomerPhone], [ParentID], [InvoiceFormNo], [FormNo], [SerialNo], [CreateDate], [UpdateDate], [CreateUser], [UpdateUser], [OldCustomerID]) VALUES (N'KH0000000003', N'Cửa hàng vlxd mười hai', N'LHMUOIHAI', NULL, N'LONG Hồ, VĩNH LONG', NULL, NULL, NULL, NULL, NULL, CAST(N'2020-12-19T00:00:00.000' AS DateTime), CAST(N'2020-12-19T00:00:00.000' AS DateTime), N'admin', N'admin', N'10HAI')
GO
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [DF_Customer_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Là mã số hóa đơn' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Customer', @level2type=N'COLUMN',@level2name=N'InvoiceFormNo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Là mẫu số hóa đơn' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Customer', @level2type=N'COLUMN',@level2name=N'FormNo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ký hiệu' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Customer', @level2type=N'COLUMN',@level2name=N'SerialNo'
GO
