USE [BlueStarGroup]
GO
/****** Object:  Table [dbo].[Balance]    Script Date: 12/27/2020 11:49:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Balance](
	[BalanceID] [varchar](50) NOT NULL,
	[BalanceDate] [datetime] NULL,
	[AccountID] [varchar](50) NULL,
	[AccountDetailID] [varchar](50) NULL,
	[CustomerID] [varchar](50) NULL,
	[CompanyID] [varchar](50) NULL,
	[DebitAmount] [money] NULL,
	[CreditAmount] [money] NULL,
	[OldCustomerID] [varchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[CreateUser] [varchar](50) NULL,
	[UpdateUser] [varchar](50) NULL,
	[ItemID] [varchar](50) NULL,
	[BalanceQuatity] [decimal](18, 0) NULL,
	[BalancePrice] [money] NULL,
 CONSTRAINT [PK_Balance] PRIMARY KEY CLUSTERED 
(
	[BalanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Balance] ([BalanceID], [BalanceDate], [AccountID], [AccountDetailID], [CustomerID], [CompanyID], [DebitAmount], [CreditAmount], [OldCustomerID], [CreateDate], [UpdateDate], [CreateUser], [UpdateUser], [ItemID], [BalanceQuatity], [BalancePrice]) VALUES (N'0095CC4F-9B83-49A6-B77F-A4FADC64227F', CAST(N'2019-01-01T00:00:00.000' AS DateTime), N'131', N'03', N'KH0000000115', N'CTY0000000060', 0.0000, 18570800.0000, N'AC', CAST(N'2019-01-01T00:00:00.000' AS DateTime), CAST(N'2019-01-01T00:00:00.000' AS DateTime), N'admin', N'admin', NULL, NULL, NULL)
INSERT [dbo].[Balance] ([BalanceID], [BalanceDate], [AccountID], [AccountDetailID], [CustomerID], [CompanyID], [DebitAmount], [CreditAmount], [OldCustomerID], [CreateDate], [UpdateDate], [CreateUser], [UpdateUser], [ItemID], [BalanceQuatity], [BalancePrice]) VALUES (N'00bd43f5-88ee-43b7-b3db-11152750acc5', CAST(N'2019-01-01T00:00:00.000' AS DateTime), N'131', N'01', N'KH0000001694', N'CTY0000000003', 0.0000, 0.0000, N'UBMT', CAST(N'2020-12-19T00:00:00.000' AS DateTime), CAST(N'2020-12-19T00:00:00.000' AS DateTime), N'admin', N'admin', NULL, NULL, NULL)
INSERT [dbo].[Balance] ([BalanceID], [BalanceDate], [AccountID], [AccountDetailID], [CustomerID], [CompanyID], [DebitAmount], [CreditAmount], [OldCustomerID], [CreateDate], [UpdateDate], [CreateUser], [UpdateUser], [ItemID], [BalanceQuatity], [BalancePrice]) VALUES (N'00DDA336-0CF3-4A36-A875-D3A13FF268EA', CAST(N'2019-01-01T00:00:00.000' AS DateTime), N'131', N'03', N'KH0000000424', N'CTY0000000060', 0.0000, 306150000.0000, N'DT', CAST(N'2019-01-01T00:00:00.000' AS DateTime), CAST(N'2019-01-01T00:00:00.000' AS DateTime), N'admin', N'admin', NULL, NULL, NULL)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UC_Balance]    Script Date: 12/27/2020 11:49:06 AM ******/
ALTER TABLE [dbo].[Balance] ADD  CONSTRAINT [UC_Balance] UNIQUE NONCLUSTERED 
(
	[AccountID] ASC,
	[AccountDetailID] ASC,
	[CompanyID] ASC,
	[ItemID] ASC,
	[BalanceDate] ASC,
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Balance] ADD  CONSTRAINT [DF_Balance_BalanceID]  DEFAULT (newid()) FOR [BalanceID]
GO
