USE [BlueStarGroup]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 10/12/2020 8:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Invoice](
	[RowID] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[InvoiceID] [varchar](50) NOT NULL,
	[VouchersID] [varchar](50) NULL,
	[CustomerID] [varchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[InvoiceFormNo] [varchar](50) NULL,
	[FormNo] [varchar](50) NULL,
	[SerialNo] [varchar](50) NULL,
	[InvoiceNo] [varchar](50) NULL,
	[InvoiceType] [varchar](1) NULL,
	[InvoiceDate] [datetime] NULL,
	[Amount] [money] NULL,
	[VAT] [decimal](18, 0) NULL,
	[Discounts] [money] NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[CreateUser] [varchar](50) NULL,
	[UpdateUser] [varchar](50) NULL,
	[IsDelete] [bit] NULL,
	[CompanyID] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Vouchers]    Script Date: 10/12/2020 8:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Vouchers](
	[RowID] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[VouchersID] [varchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Amount] [money] NOT NULL,
	[Date] [datetime] NULL,
	[VouchersTypeID] [varchar](50) NULL,
	[CompanyID] [varchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[CreateUser] [varchar](20) NULL,
	[UpdateUser] [varchar](20) NULL,
	[IsDelete] [bit] NULL,
 CONSTRAINT [PK_Vouchers] PRIMARY KEY CLUSTERED 
(
	[RowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VouchersDetail]    Script Date: 10/12/2020 8:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VouchersDetail](
	[RowID] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[VouchersDetailID] [varchar](50) NULL,
	[VouchersID] [varchar](50) NULL,
	[AccountID] [varchar](50) NULL,
	[CompanyID] [varchar](50) NULL,
	[GeneralLedgerID] [varchar](50) NULL,
	[CustomerID] [varchar](50) NULL,
	[DebitAmount] [money] NULL,
	[CreditAmount] [money] NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[CreateUser] [varchar](20) NULL,
	[UpdateUser] [varchar](20) NULL,
	[IsDelete] [bit] NULL,
	[Descriptions] [nvarchar](max) NULL,
 CONSTRAINT [PK_VouchersDetail] PRIMARY KEY CLUSTERED 
(
	[RowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VouchersType]    Script Date: 10/12/2020 8:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VouchersType](
	[RowID] [varchar](36) NULL,
	[VouchersTypeName] [nvarchar](250) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[CreateUser] [varchar](20) NULL,
	[UpdateUser] [varchar](20) NULL,
	[Status] [varchar](1) NULL,
	[VouchersTypeID] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WareHouse]    Script Date: 10/12/2020 8:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WareHouse](
	[RowID] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[WarehouseID] [varchar](50) NOT NULL,
	[VouchersID] [varchar](50) NULL,
	[InvoiceID] [varchar](50) NULL,
	[CustomerID] [varchar](50) NULL,
	[GeneralLedgerID] [varchar](50) NULL,
	[Date] [datetime] NULL,
	[DebitAccountID] [varchar](50) NULL,
	[CreditAccountID] [varchar](50) NULL,
	[Type] [varchar](1) NULL,
	[DeliverReceiver] [nvarchar](250) NULL,
	[Description] [nvarchar](max) NULL,
	[Attachfile] [nvarchar](max) NULL,
	[Discount] [money] NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[CreateUser] [varchar](50) NULL,
	[UpdateUser] [varchar](50) NULL,
	[IsDelete] [bit] NULL,
	[CompanyID] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WareHouseDetail]    Script Date: 10/12/2020 8:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WareHouseDetail](
	[RowID] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[WareHouseDetailID] [varchar](50) NULL,
	[WarehouseID] [varchar](50) NULL,
	[ItemID] [varchar](50) NULL,
	[Quantity] [numeric](18, 2) NULL,
	[Price] [money] NULL,
	[Amount] [money] NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[CreateUser] [varchar](50) NULL,
	[UpdateUser] [varchar](50) NULL,
	[Isdelete] [bit] NULL,
	[CompanyID] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Vouchers] ([RowID], [VouchersID], [Description], [Amount], [Date], [VouchersTypeID], [CompanyID], [CreateDate], [UpdateDate], [CreateUser], [UpdateUser], [IsDelete]) VALUES (N'07faf6fc-7ec1-418b-a17f-0bc393ec3034', N'CT20201203000004', N'Xe ô tô tải (Tự đổ) (Biển số: 51D-429.43) đã qua sử dụng. Hiệu FORLAND; Loại: THACO FLD 345C; Số máy: 4DW83-73*B0205201*; Số khung: RNHD345DCH064493; Màu: Xanh', 150000000.0000, CAST(0x0000AB7700000000 AS DateTime), N'HT', N'COM0001', CAST(0x0000AC8600EF9469 AS DateTime), NULL, N'admin', NULL, NULL)
INSERT [dbo].[Vouchers] ([RowID], [VouchersID], [Description], [Amount], [Date], [VouchersTypeID], [CompanyID], [CreateDate], [UpdateDate], [CreateUser], [UpdateUser], [IsDelete]) VALUES (N'4aa2a580-e614-4e18-9b71-0e0f28cf272f', N'CT20201119000003', N'test seqid 3', 0.0000, CAST(0x0000AC7700000000 AS DateTime), N'CH', N'COM0001', CAST(0x0000AC78010D8DB5 AS DateTime), CAST(0x0000AC83000AC920 AS DateTime), N'admin', N'admin', 0)
INSERT [dbo].[Vouchers] ([RowID], [VouchersID], [Description], [Amount], [Date], [VouchersTypeID], [CompanyID], [CreateDate], [UpdateDate], [CreateUser], [UpdateUser], [IsDelete]) VALUES (N'45a4ea13-8a20-4d14-9ae1-0e610024c3ba', N'CT20201203000001', N'Phí đăng kiểm', 370000.0000, CAST(0x0000AC8400000000 AS DateTime), N'CH', N'COM0001', CAST(0x0000AC8600D1600E AS DateTime), CAST(0x0000AC8600D17E0A AS DateTime), N'admin', N'admin', NULL)
INSERT [dbo].[VouchersDetail] ([RowID], [VouchersDetailID], [VouchersID], [AccountID], [CompanyID], [GeneralLedgerID], [CustomerID], [DebitAmount], [CreditAmount], [CreateDate], [UpdateDate], [CreateUser], [UpdateUser], [IsDelete], [Descriptions]) VALUES (N'a5ec584a-e7e7-4554-86dd-0477401cd400', N'CTD20201203000004', N'CT20201203000001', N'1111', N'COM0001', N'SC0000000203', NULL, NULL, 370000.0000, CAST(0x0000AC8600D16017 AS DateTime), NULL, N'admin', NULL, NULL, NULL)
INSERT [dbo].[VouchersDetail] ([RowID], [VouchersDetailID], [VouchersID], [AccountID], [CompanyID], [GeneralLedgerID], [CustomerID], [DebitAmount], [CreditAmount], [CreateDate], [UpdateDate], [CreateUser], [UpdateUser], [IsDelete], [Descriptions]) VALUES (N'217a04d5-1e94-4c29-8c91-216530454012', N'CTD20201203000007', N'CT20201203000001', N'6425', N'COM0001', N'SC0000000097', NULL, 50000.0000, NULL, CAST(0x0000AC8600D16020 AS DateTime), NULL, N'admin', NULL, NULL, NULL)
INSERT [dbo].[VouchersDetail] ([RowID], [VouchersDetailID], [VouchersID], [AccountID], [CompanyID], [GeneralLedgerID], [CustomerID], [DebitAmount], [CreditAmount], [CreateDate], [UpdateDate], [CreateUser], [UpdateUser], [IsDelete], [Descriptions]) VALUES (N'd9ed1a55-ed40-49ef-b488-26d9ba9d94c6', N'CTD20201203000012', N'CT20201203000003', N'1561', N'COM0001', N'SC0000000142', NULL, 26000000.0000, NULL, CAST(0x0000AC8600EAF04D AS DateTime), NULL, N'admin', NULL, NULL, NULL)
INSERT [dbo].[VouchersType] ([RowID], [VouchersTypeName], [CreateDate], [UpdateDate], [CreateUser], [UpdateUser], [Status], [VouchersTypeID]) VALUES (N'A729EEA5-8365-4464-B69E-FC1245500369', N'Chứng từ Thu', CAST(0x0000AC630180A6B0 AS DateTime), NULL, NULL, NULL, N'1', N'TH')
INSERT [dbo].[VouchersType] ([RowID], [VouchersTypeName], [CreateDate], [UpdateDate], [CreateUser], [UpdateUser], [Status], [VouchersTypeID]) VALUES (N'4DE7B934-E0E9-4018-89A5-6916169C77D8', N'Chứng từ Chi', CAST(0x0000AC630180A6B5 AS DateTime), NULL, NULL, NULL, N'1', N'CH')
INSERT [dbo].[VouchersType] ([RowID], [VouchersTypeName], [CreateDate], [UpdateDate], [CreateUser], [UpdateUser], [Status], [VouchersTypeID]) VALUES (N'E71A9899-C9FE-4A64-9F45-F6D839480D35', N'Chứng từ kết chuyển', CAST(0x0000AC630180A6B9 AS DateTime), NULL, NULL, NULL, N'1', N'KC')
INSERT [dbo].[WareHouseDetail] ([RowID], [WareHouseDetailID], [WarehouseID], [ItemID], [Quantity], [Price], [Amount], [CreateDate], [UpdateDate], [CreateUser], [UpdateUser], [Isdelete], [CompanyID]) VALUES (N'29c6e31c-ac62-432a-9b12-03284ea07cf1', N'WHD20201203000001', N'WH20201203000001', N'SP0000000097', CAST(350.00 AS Numeric(18, 2)), 13454.5457, 4709091.0000, CAST(0x0000AC8600CD9F92 AS DateTime), NULL, N'admin', NULL, NULL, N'COM0001')
INSERT [dbo].[WareHouseDetail] ([RowID], [WareHouseDetailID], [WarehouseID], [ItemID], [Quantity], [Price], [Amount], [CreateDate], [UpdateDate], [CreateUser], [UpdateUser], [Isdelete], [CompanyID]) VALUES (N'4e533e5f-ed17-4fb8-b5d4-d4400418188f', N'WHD20201203000002', N'WH20201203000002', N'SP0000000097', CAST(1000.00 AS Numeric(18, 2)), 15800.0000, 15800000.0000, CAST(0x0000AC8600CE1794 AS DateTime), NULL, N'admin', NULL, NULL, N'COM0001')
INSERT [dbo].[WareHouseDetail] ([RowID], [WareHouseDetailID], [WarehouseID], [ItemID], [Quantity], [Price], [Amount], [CreateDate], [UpdateDate], [CreateUser], [UpdateUser], [Isdelete], [CompanyID]) VALUES (N'c06d9ea7-6056-4225-995a-393d5373c0fc', N'WHD20201203000003', N'WH20201203000003', N'SP0000000050', CAST(250.00 AS Numeric(18, 2)), 52000.0000, 13000000.0000, CAST(0x0000AC8600ECF9A1 AS DateTime), CAST(0x0000AC8901277D2D AS DateTime), N'admin', N'admin', NULL, N'COM0001')
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Vouchers__FFEE7450916D6532]    Script Date: 10/12/2020 8:33:33 PM ******/
ALTER TABLE [dbo].[VouchersType] ADD UNIQUE NONCLUSTERED 
(
	[RowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Invoice] ADD  DEFAULT (newid()) FOR [RowID]
GO
ALTER TABLE [dbo].[Invoice] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Vouchers] ADD  DEFAULT (newid()) FOR [RowID]
GO
ALTER TABLE [dbo].[VouchersDetail] ADD  DEFAULT (newid()) FOR [RowID]
GO
ALTER TABLE [dbo].[VouchersType] ADD  DEFAULT (newid()) FOR [RowID]
GO
ALTER TABLE [dbo].[VouchersType] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[VouchersType] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[WareHouse] ADD  DEFAULT (newid()) FOR [RowID]
GO
ALTER TABLE [dbo].[WareHouse] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[WareHouseDetail] ADD  DEFAULT (newid()) FOR [RowID]
GO
ALTER TABLE [dbo].[WareHouseDetail] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
